#div_big {
    width: 90%;
    float: left;
    padding: 15px;
    margin: auto;
}

#div1 {
    float: left;
    width: 45%;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, orange, yellow);
    text-align: center;
}

a {
    color: darkslategray;
    text-decoration: none;
    vertical-align: middle;
}