<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>选择页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/choicecss.css" charset="utf-8">
</head>

<body>

    <div id=div_big>
        <h5>公路水运检测刷题</h5>
        <div id=div1>
            <p><a href="../jiance_gongji" class="buttons ">公共基础</a></p>
        </div>

        <div id=div1>
            <p><a href="javascript:location.reload() ; " class="buttons ">交通工程</a></p>
        </div>
    </div>

    <div id="div_big">
        <h5>考试大纲查看</h5>
        <div id=div1>
            <p><a href="../gongjidagang" class="buttons ">公共基础考试大纲</a></p>
        </div>

        <div id=div1>
            <p><a href="../jiaotongdagang" class="buttons ">交通工程考试大纲</a></p>
        </div>
    </div>



    <div id=div_big>
        <h5>司法考试</h5>
        <div id=div1>
            <p><a href="javascript:location.reload() ; " class="buttons ">题目未知</a></p>
        </div>
    </div>



</body>

</html>