<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
</head>
<style>
    .div1 {
        padding-top: 40%;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        width: 95%;
        horiz-align: center;
    }
    
    input {
        border: 1px solid #d2d2d2;
        background-color: transparent;
        width: 250px;
        height: 20px;
    }
</style>

<body>
    <h1>Login</h1>
    <div class="div1">
        {% with messages = get_flashed_messages() %}
        <div>{{ messages[0] }}</div>
        {% endwith %}
        <form action="{{ url_for('login') }}" method="POST">
            <input style="height: 2.5em;" type="text" name="userid" id="userid" placeholder="用户ID"></input><br>
            <input style="height: 2.5em;" type="password" name="password" id="password" placeholder="密码"></input><br>
            <br>
            <input style="height: 2.5em;" type="submit" name="submit" value="登录进入"></input>
        </form>
        <p> </p>
        <a style="height: 2.5em;font-size:13px ; text-decoration: none;background-color: white; color:rgb(49, 48, 48) ;height:2.5em ;" href="../logup">注册新用户号码</a>
    </div>
</body>

</html>