<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
</head>
<style>
    .div1 {
        padding-top: 40%;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        width: 95%;
        horiz-align: center;
    }
    
    input {
        border: 1px solid #d2d2d2;
        background-color: transparent;
        width: 250px;
        height: 20px;
    }
</style>

<body>
    <h1>注册号码</h1>
    <div class="div1">
        {% with messages = get_flashed_messages() %}
        <div>{{ messages[0] }}</div>
        {% endwith %}
        <form action="{{ url_for('logupsave') }}" method="POST">
            <input type="text" name="userid" id="userid" placeholder="用户ID"></input><br>
            <input type="password" name="password" id="password" placeholder="密码"></input><br>
            <input type="password" name="password2" id="password" placeholder="重复密码"></input><br>
            <input type="submit" name="submit"></input>
        </form>
    </div>
</body>

</html>